<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=MANAGER55\MANAGER55;Initial Catalog=OrderPaymentDB;Persist Security Info=True;Trust Server Certificate=True;User ID=sa;Password=**********"/>
  </connectionStrings>
</configuration>